@use '@/shared/styles/breakpoints' as *;

body {
  position: relative;
  display: flex;
  flex-direction: column;

  height: 100vh;
  height: 100dvh;

  overflow: hidden;

  background-color: rgb(var(--background));
  color: rgb(var(--text-primary));
  font-family: var(--font-family), sans-serif;
  font-size: var(--text);
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0;
}

.container {
  flex-grow: 1;

  padding: 16px;
}

.public {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;

  width: 100%;
  padding: 62px;

  border: 1px solid rgb(var(--gray-55));
  border-radius: 32px;
  background-color: rgb(var(--gray-40));
  box-shadow: 0 0 16px 0 rgb(var(--primary-active) / var(--opacity-border))
    inset;

  @include md-and-up {
    padding: 82px;
  }
}
